root:$6$82X7Ahih$9vX6b7vopUsA5Q5bJ0gCBUWT9Sxc5sTlkULJHX2ndw47G/tTzJBQlHqB4mUH8msQgLx9KAU2kRqO2nANPTKV/.:16973:0:99999:7:::
hotfloppy:$6$CINq8vd/$6OlfWZkFc/Lxz4JQ5ulbETQeqdMKuqzWJWjtE5cjR4ggQ6lHaI2lFqXvIFtgaA0.CFaLy8PblrWoD/LKka/Ee.:16997:0:99999:7:::
kucing1:$6$7wrnEW0O$rbyFgyVLRQmvTGufaehLXzn/JxADdQD4q8qa.EhdxbUzSufWJQrI72LGzV33HYTMRVT20c/7FpyrGF9my65pO/:16931:0:99999:7:::
kucing2:$6$fuCOWWt.$lCbbtN7iHe.9GAsYbYYjaaAG/RjVoGpeA4mfmjoynYb1Gm1r6muVqf40OuaQk06g6Q/8/OfqrxFZG3xZFDoSk1:17241:0:99999:7:::
iman:$6$lX4EPXMR$AYiOI2xB1bqKhDKLOfiI/9LcOS2J/6MoVptkCRtiNrPIxrJUwfnDioea6mlhfvjldnNTszEIVaXrxIPmIGJrb1:17606:0:99999:7:::
