<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>Linux Password Changer</title>
        <style>
            table, th, td {
                border: 1px solid white;
                border-collapse: collapse;
                padding: 15px;
            }
            body {
                background-color: #282828;
                color: white;
                font-family: Ubuntu, Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <center>
            <h1 style="text-align: center;">Password Changer</h1>
            <div style="overflow-x: auto;">
                <table style="height: 200px; margin-left: auto; margin-right: auto;" width="250px">
                    <tbody>
                        <tr>
                        <td style="width: 196px; text-align: center;"><form action="/modify_user" method="POST">
                            <p style="text-align: center;">
                                <strong>Username:</strong><br />
                                <input id="username" name="username" type="text" placeholder="Your username" autofocus required></p>
                            <p style="text-align: center;">
                                <strong>Password:</strong><br />
                                <input id="previous_passwd" name="previous_passwd" type="password" placeholder="Current password" required></p>
                            <p style="text-align: center;">
                                <strong>New Password:</strong><br />
                                <input id="new_passwd" name="new_passwd" type="password" placeholder="New password" required></p>
                            <input type="submit" value="Submit" /></form>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p>* Some notes here.</p>
        </center>
    </body>
</html>
