<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="3; url=/" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow">

        <title>Password Modified</title>

        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <center>
            <h3>Password for {{ username }} has been changed.<br />
                You'll be redirect to main page in 3 seconds, or click <a href='/'>here</a>
            </h3>
        </center>
    </body>
</html>
